#footer {
	font-size: x-small;
    color: #777;
    padding-top: 50px;
    padding-bottom: 30px;
    clear: both;
}

#footer a {
    text-decoration: none;
    color: #666699;
}

#footer a:visited {
    color: #666699;
}

#footer a:hover {
    text-decoration: underline;
    color: #666699;
}
