#header {
}

#header .left {
    float: left;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 20px;
}

#header .left a {
    text-decoration: none;
    color: #6889b5;
    font-size: 20pt;
    font-weight: bold;
}

#header .right {
    text-align: right;
}
