body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Luxi Sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	font-size: 11pt;
	color: #333;
	counter-reset: recommendation rule question;
}

#mainone {
    min-width: 720px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#site-menubar {
    width: 260px;
    float: right;
    margin-left: 20px;
    margin-top: 50px;
}

#site-content-with-menubar {
    margin-right: 300px;  /* width of site-menubar block */
}

#content {
    margin: 10px;
}

img {
    border: 0px;
}

div.center {
    text-align: center;
}

.command {
    font-family: "Courier";
}

div.command {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre;
}

div.example, div.recommendation, div.rule, div.note {
	display: block;
	overflow: auto;
	padding: 10px;
	background-color: #ecf4ff;
	margin: 0px;
}

div.action {
	display: block;
	overflow: auto;
	padding: 10px;
	background-color: #ecf4ff;
	margin: 0px;
	margin-top: 10px;
}

div.question {
	display: block;
	overflow: auto;
	padding: 10px;
	background-color: #eee;
	margin: 0px;
	margin-top: 10px;
	font-weight: bold;
}

div[id*='hint'] {
    border-style: dashed;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
}

div.example:before {
    display: block;
    content: "Example ";
    font-size: normal;
    font-weight: bold;
}

div.recommendation:before {
    display: block;
    content: "Recommendation " counter(recommendation);
    counter-increment: recommendation;
    font-size: normal;
    font-weight: bold;
}

div.rule:before {
    display: block;
    content: "Rule " counter(rule);
    counter-increment: rule;
    font-size: normal;
    font-weight: bold;
}

div.question:before {
    display: block;
    content: "Question " counter(question);
    counter-increment: question;
    font-size: normal;
    font-weight: bold;
}

div.note:before {
    display: block;
    content: "Note ";
    font-size: normal;
    font-weight: bold;
}

pre.code-example {
    font-family: "Courier";
	display: block;
	overflow: auto;
	padding: 10px;
	background-color: #eee;
	color: #000;
	margin: 10px 0px 10px 0px;
}

pre.code-example:before {
    display: block;
    content: "Example ";
    font-size: normal;
    font-weight: bold;
    font-family: "Luxi Sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
    margin-bottom: 10px;
}

code.screen, pre.screen {
    font-family: "Courier";
	display: block;
	padding: 10px;
	border: 1px solid #bbb;
	background-color: #eee;
	color: #000;
	overflow: auto;
	margin: 1em 2em;
}

pre {
    font-size: 10pt;
}

img.right {
    display: block;
    float: right;
    margin: 0px;
}

img.left {
    display: block;
    float: left;
    margin: 10px;
}

p.right {
    text-align: right;
}

div.caution {
	display: block;
	padding: 10px;
	border: 1px solid #6666cc;
	background-color: #ccccff;
	color: #000;
	overflow: auto;
	margin: 1em 2em;
}

div.info {
	display: block;
	padding: 10px;
	border: 1px solid #6666cc;
	background-color: #ccccff;
	color: #000;
	overflow: auto;
	margin: 1em 2em;
}

th {
    color: #4f6889;
}

ul.separate li {
    margin-bottom: 10px;
}

ol.separate li {
    margin-bottom: 10px;
}

li.obsolete {
    color: #aaa;
}

div.tabs {
    width: 100%;
    height: 20px; /* size of navigation bar */
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

div.tabs ul {
    margin: 0px;
    padding: 0px;
}

div.tabs li {
    float: left;
    display: inline;
}

div.tabs a {
    color: #6f6f6f;
    text-decoration: none;
    padding-left: 0px;
    padding-right: 10px;
    line-height: 20px;
    display: block;
}
 
div.tabs a:hover {
    text-decoration: underline;
} 

#current{
    font-weight: bold;
    display: block;
}

/* the overlayed element */
.simple_overlay {
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#fff;
	color: #333;
	
	padding: 20px;
	width: 800px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 100px 5px #000;
	-webkit-box-shadow: 0 0 100px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

