/*
 * Main navigation bar
 */
#nav-main {
    background-color: #4f6889;
    width: 100%;
    font-weight: bold;
    font-family: "Luxi Sans", verdana, helvetica, arial, sans-serif;
    font-size: x-small;
    margin-top: 5px;
}

#nav-main-list {
    height: 20px; /* size of navigation bar */
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav-main-list li {
    float: left;
    display: inline;
}

#nav-main-list a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    display: block;
}
 
#nav-main-list a:hover {
    background-color: #7ca3d6;
} 

#nav-main-list li strong{
    background-color: #6889b5;
    display: block;
} 

/*
 * Second level navigation bar
 */
#nav-sec {
    background-color: #a2a2a2;
    width: 100%;
    font-weight: bold;
    font-family: "Luxi Sans", verdana, helvetica, arial, sans-serif;
    font-size: x-small;
    margin-bottom: 5px;
}

#nav-sec-list {
    height: 20px; /* size of navigation bar */
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav-sec-list li {
    float: left;
    display: inline;
}

#nav-sec-list a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    display: block;
}
 
#nav-sec-list a:hover {
    background-color: #56595c;
} 

#nav-sec-list li strong{
    background-color: #6f6f6f;
    display: block;
} 

/*
 * Menubar 
 */
#nav-menubar {
    padding: 10px;
    background-color: #ecf4ff;
}

#nav-menubar ul {
    margin-left: 10px;
    padding-left: 5px;
}

#nav-menubar a:hover {
    text-decoration: underline;
} 

#nav-menubar a {
    color: #333;
    text-decoration: none;
}

/*
 * Rounded corners for navigation bar
 */
.nav-corner-tl {
    background-image: url('../img/corner_tl.gif');
    background-position: top left;
    background-repeat: no-repeat;
    float: left;
    top: 0px;
    width: 10px; 
    height: 10px;
}

.nav-corner-tr {
    background-image: url('../img/corner_tr.gif');
    background-position: top right;
    background-repeat: no-repeat;
    float: right;
    top: 0px;
    width: 10px; 
    height: 10px;
}

.nav-corner-bl {
    background-image: url('../img/corner_bl.gif');
    background-position: bottom left;
    background-repeat: no-repeat;
    float: left;
    margin-top: -10px;
    width: 10px; 
    height: 10px;
    margin-bottom: 0px;
}

.nav-corner-br {
    background-image: url('../img/corner_br.gif');
    background-position: bottom right;
    background-repeat: no-repeat;
    float: right;
    margin-top: -10px;
    padding: 0px;
    top: 0px;
    width: 10px; 
    height: 10px;
}

/*
 * Sitemap
 */
#nav-sitemap ul
{
    list-style-type: square;
}

#nav-sitemap ul li
{
    margin-top: 10px;
}

#nav-sitemap ul ul li
{
    margin-top: 0px;
}

#nav-sitemap ul li a
{
    color: #000;
    text-decoration: none;
}

#nav-sitemap ul li a:hover
{
    color: #000;
    text-decoration: underline;  
}

/* Holly hack for IE */

* html .nav-corner-br {
	margin-top: -12px;
}

* html .nav-corner-bl {
	margin-top: -12px;
}

/* End of holly hack */
